body {
	background-image: url("../img/sand.jpg");
}

#loginbox {
	margin-top: 12%;
	margin-left: 37%;
}

.panel-primary>.panel-heading {
	background-color: black;
	border-color: black;
}

.btn-primary {
	background-color: black;
}