body {
	background-image: url("../img/sand.jpg");
}

#loginbox {
	margin-top: 10%;
	margin-left: 30%;
	color: orangered;
}

.panel-heading .btn .btn-primary {
	background-color: black;
	border-color: black;
	color: white;
}